<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni animi iure debitis facilis iste excepturi rerum quasi voluptatum sit dolor, nam optio perferendis quos quod ducimus voluptas. Saepe consequatur a magnam nemo, dicta eligendi commodi obcaecati porro itaque ullam similique.</p>
    </div>
</div>