<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nemo illo sapiente suscipit velit doloribus, in quam expedita totam blanditiis odio, voluptatum at consequatur, dolor est fuga? Porro, nam beatae.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a href="http://google.com" class="btn btn-primary btn-lg" >Google</a>
</div>